*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
body{
    min-height: 100vh;
}
input{
    display: none;
}
.display{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
label{
    border: solid;
    width: 400px;
    height: 200px;
    border-radius: 999px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0,0.05) inset;
    cursor: pointer;
}
.circle{
    border: solid;
    width: 160px;
    height: 160px;
    border-radius: 99px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0,0.05) inset;
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(10%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;

}
svg{
    width: 80px;
    position: absolute;
}
.sun{
    color:yellow ;
    margin-top: 0%;
}
.moon{
    margin-top: -180%;
    color: white;
    opacity: 0;
}
input[type=checkbox]:checked + .display {
    background: #2C2C2F;

}
input[type=checkbox]:checked + .display label{
    background: #2C2C2F;
    box-shadow: 10px 10px 20px rgba(0, 0, 0,0.05) inset;

}
input[type=checkbox]:checked + .display label .circle{
    left: 100%;
    transform: translate(-110%, -50%);
    background: #2C2C2F;
    box-shadow: -10px -10px 30px rgba(0, 0, 0,0.05) inset,
    0px 10px 20px rgba(0, 0, 0,0.5)
    ;

}
input[type=checkbox]:checked + .display label .circle .sun{
    margin-top: -180%;

}
input[type=checkbox]:checked + .display label .circle .moon{
    margin-top: -180%;
    opacity: 1;


}
label:active .circle{
    width: 200px;
}