*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #262626;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200Px;
    height: 200px;
    border: 15px solid #c07621;
    border-radius: 50%;
    background: url(floor-grandfather-clocks-digital-clock-drawing-template-download-time.jpg);
    background-size: cover;
    box-shadow: -2px 2px 0 #e29c32,inset 0 0 20px rgba(0,0,0,0.5);
    background-color: #fff;

}
span{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    background: #ff5f5f;
    border-radius: 50%;
}
.clock:before{
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    width: 40%;
    height: 6px;
    background: #262626;
    border-radius: 3px;
    animation: anim 4s linear infinite;
    transform-origin: left;

}
.clock:after{
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    width: 30%;
    height: 6px;
    background: #262626;
    border-radius: 3px;
    animation: anim 48s linear infinite;
    transform-origin: left;
    z-index: -1;
}
@keyframes anim{
    0%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(270deg);
    }

}