*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.n{
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: anim 6s linear infinite;
}
.n::before{
    content: "";
    width: 100%;
    height: 100%;
    bottom: -185%;
    left: 50%;
    position: absolute;
    background-color: #ededed;
    filter: blur(20px);
    transform: rotateX(90deg);
    z-index: -1;

}
@keyframes anim {
    from{
        transform:rotateX(-30deg) rotateY(360deg);
    }
    to{
        transform:rotateX(-30deg) rotateY(0deg);

    }
}
.n .r{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateY(calc(150px * var(--j)));

} 
.n .r span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: linear-gradient(90deg,#69c069,#7d7);
    border-bottom:10px solid #ababab ;
    clip-path: polygon(50% 0 ,0% 100% , 100% 100%);
    transform-origin: bottom;
    transform: rotateY(calc(90deg * var(--i))) rotateX(30deg)  translateZ(172px); 

}
.n .q{
    width: 80px;
    height: 150px;
    background-color: rgb(136, 48, 0);
    box-shadow: inset 1px 1px 10px 5px rosybrown;
    position: absolute;
    bottom: -400px;
    left: 50%;
    transform: translateX(-50%);
}